:root {
  --color-one: #0d1321;
  --color-two: #1d2d44;
  --color-three: #3e5c76;
  --color-four: #748cab;
  --color-light: #f0ebd8;

  --color-text: var(--color-light);
  --color-border: #3f3f46;

  color: var(--color-text);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: lighter;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-one);
}

a {
  text-decoration: none;
  color: var(--color-text);
  font-style: normal;
}

p {
  margin: 0;
}

#landingContainer {
  /* position: relative; */

  > * {
    margin: auto;
    margin-top: 2rem;
    max-width: 600px;
  }

  > :last-child {
    margin-top: 0;
  }
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mainDiv {
  background-color: var(--color-one);
}

.navBar {
  font-size: larger;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;

  max-width: 600px;
  margin: auto;

  :last-child {
    margin-right: 0;
  }

  a {
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.eduTitle {
  font-size: 1.8rem;
}

.subHeader {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.subSubHeader {
  font-size: 2.1rem;
}

.subScript {
  font-size: 1rem;
  font-style: italic;
}

.subSummary {
  font-size: 1.3rem;
}

.svgWave {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
}

.landingContent {
  > * {
    @media (max-width: 768px) and (orientation: portrait) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

#navHome {
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  :first-child {
    margin-right: 0.2rem;
  }
}

#bottomScroll {
  background-color: var(--color-four);
  bottom: 0;
  left: 0;
  transform-origin: 0%;
  width: 100%;
  height: 8px;
  position: fixed;
  opacity: 0;

  @media (max-width: 768px) and (orientation: portrait) {
    opacity: 1;
  }
}

#bottomNav {
  height: 15rem;
  background-color: var(--color-light);
  color: var(--color-one);
  display: flex;
  justify-content: center;

  a {
    color: var(--color-one);
  }
}

#bottomNavContent {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 0.2rem;
  }
}

#hero {
  height: 600px;

  > * {
    margin-top: 2rem;
    max-width: 600px;
  }

  > :first-child {
    margin-top: 1rem;
  }
}

#background {
  aspect-ratio: 960/540;
  filter: blur(10px);
  position: absolute;
  left: -10rem;
  top: 0;
  margin: auto;
  z-index: -1;
  background-image: url(/hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 10rem;
  left: 20%;
  width: 960px;
  height: 540px;

  @media (max-width: 768px) and (orientation: portrait) {
    left: 0;
    top: 15rem;
    width: 100%;
  }
}

#projTop {
  aspect-ratio: 900/50;
  height: 50px;
  margin-top: 0;
  background-color: var(--color-four);
  background-image: url(/proj-top.svg);
}

#eduTop {
  aspect-ratio: 900/50;
  height: 50px;
  margin-top: 0;
  background-color: var(--color-one);
  background-image: url(/edu-top.svg);
}

#footerTop {
  aspect-ratio: 960/50;
  height: 50px;
  background-color: var(--color-two);
  background-image: url(/footer-top.svg);
}

#projects {
  width: 100%;
  max-width: 100%;
  background-color: var(--color-two);
  padding-top: 4rem;
  margin-top: 0;
  padding-bottom: 4rem;

  > * {
    margin: auto;
    max-width: 600px;
  }
}

#education {
  width: 100%;
  max-width: 100%;
  background-color: var(--color-four);
  padding-top: 4rem;
  margin-top: 0;
  padding-bottom: 4rem;

  > * {
    margin: auto;
    max-width: 600px;
  }
}

#landingName {
  font-size: 5rem;
  font-weight: 150;
  text-align: center;
}

#projectsContainer {
  > * {
    margin-top: 1rem;
  }
}

#copyModal {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
